.menu {
  border: none;
  color: #374151;

  :global {
    .ant-menu-item-selected {
      background: #F94001 !important;
      border-radius: 5px;
      color: white;

      &:after {
        border: none !important;
      }

      &:hover {
        color: white;
      }
    }
  }
}

.submenu {
  border: none;
  color: #374151;


  :global {
    .ant-menu-item-selected {
      border: 1px solid #374151;
      border-radius: 5px;
      background-color: white !important;
      color: #374151;

      &:after {
        border: none !important;
      }
    }
  }
}