.login_container {
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  box-shadow: 0 4px 20px 8px rgba(218, 218, 218, 0.25);
  border-radius: 5px;
  max-width: 400px;
  //max-height: 435px;
  padding: 40px 40px;

  .label {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.75);
    margin-bottom: 10px;
  }

  .title {
    color: #000000;
    text-align: center;

    h1 {
      padding-top: 0 !important;
    }

  }

  .login_input {
    color: black !important;
    border: 1px solid #D2D2D2;
  }

  .terms_of_use {
    font-style: normal;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 14px;
    color: rgba(0, 0, 0, .75);
    //margin-top: 20px;

    a {
      &:hover {
        color: #000;
      }
    }

    :global {
      .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #F94001;
        border-color: #C4C4C4;
      }
    }

  }

  .get_code_button {
    width: 100%;
    border: 1px solid #F94001;
    border-radius: 3px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    //color: #F94001;
    background-color: #F94001;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;

    //&:hover {
    //  background-color: #F94001;
    //  color: #FFFFFF;
    //}
  }
}