.each_my_order {
  background: #FFFFFF;
  border: 1px solid #F8F8F8;
  box-shadow: 0 4px 19px 1px rgba(162, 162, 162, 0.25);
  border-radius: 5px;
  padding: 15px 30px;
  margin-bottom: 20px;

  table {
    width: 100%;
    text-align: center;
    font-family: Roboto;

    align-items: stretch;

    thead {
      font-weight: 500 !important;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.65);

      th {
        font-weight: 500 !important;

      }
    }

    tbody {
      font-weight: 500 !important;
      font-size: 14px;
      color: #000;

      &:before {
        content: "@";
        display: block;
        line-height: 20px;
        text-indent: -99999px;
      }

      td {
        font-weight: 500 !important;
        vertical-align: top;
      }

    }

    button {
      color: white;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 1px;
    }
  }
}

.action_buttons {
  font-family: Roboto;
  font-weight: 500 !important;
  border-radius: 5px;
}

.cancel_button {

  &:hover {
    border-color: black !important;
    color: black !important;
  }
}