.social_marketing {
  width: 32px;
  height: 32px;
  font-size: 25px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  border-radius: 50%;
}

.columns {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;

  a {
    color: rgba(255, 255, 255, 0.75);
    &:hover {
      color: #FFFFFF;
    }

  }

  .column_header {
    font-family: Roboto, sans-serif;
    margin-bottom: 0;
    
    a {
      flex-grow: none !important;
    }
  }
}


.payments {
  // padding: 0 20px !important;
  img:not(:last-child) {
    margin-right: 15px;
  }
}

.footer_collapse {
  margin-bottom: 20px;

  :global {
    .ant-collapse-item {
      border-bottom: 1px solid #d9d9d9 !important;

      .ant-collapse-header {
        padding: 12px 0 !important;

        .ant-collapse-arrow {
          right: 0 !important;
        }
      }
    }
  }

  * {
    color: #FFFFFF !important;
  }


}