.gallery_list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  //margin-top: 15px;

  .image {
    margin-right: 10px;
    //border-radius: 3px;
    background-color: #edefec;
    cursor: pointer;
    width: 65px;
    height: 100%;
  }
}

.active_gallery {
  width: 400px;
  height: 400px;
  background-color: #F3F3F3;
  position: relative;

  .like {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;

    span {
      font-size: 25px;
      color: #AAAAAA;
    }
  }


  .img_name {
    position: absolute;
    left: 0;
    top: -20px;
  }
}