.filter_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;

  .filter {
    width: 100%;
    border-radius: 0;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .change_view_section {
    display: flex;

    .change_view_button {

      display: flex;
      align-items: center;
      justify-content: center;
      border-right: none;
      border-left: none;
      padding: 20px 0;
    }
  }

  .sort_dropdown {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }

}