.merchant_info {
  border: 1px solid #F94001;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  h2 {
    font-size: 22px;
    font-family: Roboto;
    text-align: center;
  }

  .merchant_name {
    font-family: Roboto R, sans-serif;
    font-size: 22px;
    margin-bottom: 0;
  }

  .connect_with_merchant {
    font-family: Roboto;
    background: #F94001;
    border: 1px solid #F94001;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    //padding: 25px 27.5px;
    margin-right: 20px;
    flex: .1;
    width: 100%
  }
}