.checkbox_group {
  :global {
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: #F94001;
      border-color: #C4C4C4;
    }

    .ant-checkbox-wrapper {
      &:hover {
        .ant-checkbox-inner {
          border-color: #F94001 !important;
        }
      }
    }
  }
}