

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 20px 16px;
  
  @media screen and(max-width: 575px){
    padding: 20px 0 !important
  }

  //padding-bottom: 20px;

  .menu_icon {
    cursor: pointer;
  }

  .padishah {
    margin-left: 10px;
    margin-right: 10px;

    cursor: pointer;
  }

  .search_section {
    max-width: 600px;
    min-width: 600px;
    
    @media screen and(max-width: 991px){
      display: none;
    }

    .search_input {
      background: #F0F0F0;
      border: 1px solid #D0D0D0;
      border-radius: 5px;
      width: 100%;

      input {
        background: #F0F0F0;
        color: black !important;
      }
    }
  }

  .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;

    span {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.02em;

      color: rgba(0, 0, 0, 0.75);

      &:hover {
        color: #000;
      }

    }
  }

}

.mobile_search_section {
  display: none;
  margin: 0 0 10px 0;
  height: 30px;
  position: relative;
  padding: 0 0px;
  
  .search_input {
    border-radius: 5px !important;
  }
  @media screen and(max-width: 991px){
    display: block;
  }
  
}
.search_btn {
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0px;
  width: 40px;
  height: 40px;
  background: #F94001;
  border:none;
  border-radius: 5px;
  display: none;
  @media screen and(max-width: 991px){
   display: block;
  }
}

//}