@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: "Roboto R", sans-serif;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: transparent;
}

ul {
    list-style-type: none;
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #545454;
}

body > * {
    font-family: "Roboto R", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}
.d-flex {
    display: flex;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: start;
}

.justify-between {
    justify-content: space-between;
}

.align-end {
    align-items: end;
}

.roboto-medium {
    font-family: Roboto, sans-serif;
}

.roboto-regular {
    font-family: "Roboto R", sans-serif;
}


.container {
    /* min-width: 1234px; */
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 16px 0 !important;
    /*border-left: 1px solid black;*/
    /*border-right: 1px solid black;*/
}

.mt-10 {
    margin-top: 10px;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-0 h1 {
    padding-top: 0 !important;
}

.mini_container {
    padding: 0 16px;
}

.image-container {
    width: 100%;
}

.image-container > div {
    position: unset !important;
}

.image-container .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}



.align-start {
    align-items: start !important;
}

.col-5 {
    display: flex;
    max-width: 20%;
    flex: 0 0 20%;
    padding: 6px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

@media (min-width: 576px) and (max-width: 768px) {
    .container {
        min-width: 100%;
        max-width: 100%;
        padding: 0 16px;
    }

    .col-5 {
        display: block;
        flex: 0 0 33%;
        max-width: 33.33%;
    }
}

@media (max-width: 576px) {
    .container {
        min-width: 100%;
        max-width: 100%;
        padding: 0 16px;
    }

    .col-5 {
        max-width: 50%;
        flex: 0 0 50%;
    }
}

#category .ant-row {
}

#category .ant-row {
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
    min-height: 300px !important;
    height: 280px !important;
    row-gap: 0 !important;
  }


  #category .ant-col {
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    height: 280px !important;
}
#category .ant-card {
    width: 100% !important;
    height: 100% !important;
}
#category .ant-col:first-child {
      padding: 0 5px 0 16px!important;
  }
#category .ant-col:nth-child(2) {
      padding: 0 5px 0 5px!important;
  }
#category .ant-col:nth-child(3) {
      padding: 0 5px 0 5px!important;
  }
  #category  .ant-col:nth-child(4) {
      padding: 0 16px 0 5px!important;
  }
  
  
  /* .ant-col:last-child {
    padding-right: 0 !important;
  } */
  
@media (min-width: 768px) and (max-width: 991px) {
    #category .ant-row {
        min-height: 590px !important;
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
        /* max-width: 100% !important; */
        margin: 10px 0 0 0 !important;
    }
    #category .ant-col {
        max-width: 98% !important;
    }
    #category .ant-card {
        /* height: 200px !important; */
        
      }
      #category .ant-col:first-child {
        padding: 0 5px 0 16px!important;
    }
    #category .ant-col:nth-child(2) {
        padding: 0 16px 0 5px!important;
    }
    #category  .ant-col:nth-child(3) {
        padding: 0 5px 0 16px!important;
    }
    #category  .ant-col:nth-child(4) {
        padding: 0 16px 0 5px!important;
    }
}
@media (min-width: 550px) and (max-width: 768px) {
    #category  .ant-row {
        min-height: 590px !important;
    }
    #category  .ant-col:first-child {
        padding: 0 5px 0 5px!important;
    }
    #category  .ant-col:nth-child(2) {
        padding: 0 5px 0 5px!important;
    }
    #category .ant-col:nth-child(3) {
        padding: 0 5px 0 5px!important;
    }
    #category .ant-col:nth-child(4) {
        padding: 0 5px 0 5px!important;
    }
    #category .ant-card {
        /* height: 200px !important; */
        
      }
}
@media (min-width: 321px) and (max-width: 550px) {
    #category .ant-row {
    min-height: 310px !important;
    row-gap: none !important;
    }
    #category .ant-col {
        max-width: 100%;
        height: 141px !important;
        margin: 10px 0 0 0 !important;
    }
    #category .ant-col:first-child {
        padding: 0 5px 5px 0px!important;
    }
    #category  .ant-col:nth-child(2) {
        padding: 0 0px 5px 5px!important;
    }
    #category .ant-col:nth-child(3) {
        padding: 5px 5px 0 0px!important;
        margin: 0px 0 0 0 !important;
    }
    #category .ant-col:nth-child(4) {
        padding: 5px 0px 0 5px !important;
        margin: 0px 0 0 0 !important;
    }
    #category .ant-card {
        min-height: 80% !important;
       }
 }
 

 /* TOP SELLS BRANDS */
 #top_sells_brands {
   
 }
 #top_sells_brands .ant-row{
    min-height: 80px !important;
    height: 80px !important;
    margin-bottom: 50px !important;
    display: flex !important;
    align-items: center !important;
 }
 #top_sells_brands .ant-col{
    min-height: 80px !important;
    height: 80px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 0 !important;
 }
 #top_sells_brands .ant-col:first-child{
    
 }
 #top_sells_brands .ant-col:first-child{
    
 }
 
 @media (min-width: 768px) and (max-width: 991px) {
    #top_sells_brands .ant-row{
        display: flex !important;
     }
     #top_sells_brands .ant-col{
       
     }
}
 
 @media (min-width: 575px) and (max-width: 768px) {
    #top_sells_brands .ant-row{
        min-height: 150px !important;
        height: 36px !important;
        margin-bottom: 50px !important;
     }
     #top_sells_brands .ant-col{
       
     }
}
 @media (min-width: 320px) and (max-width: 575px) {
    #top_sells_brands .ant-row{
        min-height: 100px !important;
        height: 36px !important;
        margin-bottom: 50px !important;
     }
     #top_sells_brands .ant-col{
        min-height: 40px !important;
        height: 40px !important;
     }
     #top_sells_brands .ant-col:nth-child(5){
        padding-right: 10px !important;
     }
     
}
 
 
 
 /* TOP SELLS  */
 .topSells_top_sells__BwAWB .row {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .topSells_top_sells__BwAWB .ais-Hits-list {
    padding: 0 16px 0 !important;
    display: grid;
 }
 .topSells_top_sells__BwAWB .ais-Hits-item {
    border-radius: 5px !important;
    overflow: hidden;
    /* padding: 0 10px !important; */
 }
 .topSells_top_sells__BwAWB .productCard_description__7ahxS {
    height: 67px !important;
    overflow: hidden;
    max-width: 270px !important;
    margin: 0 auto;
    font-size: 13px !important;
 }
 .topSells_top_sells__BwAWB .productCard_price__86CNm {
    padding-top: 10px !important;
}

.topSells_top_sells__BwAWB .ais-Hits-item .ant-card-cover {
    /* width: 168px !important;    */
    height: 180px !important;
    text-align: center !important;
}
.topSells_top_sells__BwAWB .ais-Hits-item .ant-card-cover img{
    width: 280px !important;   
    height: 140px !important;
    object-fit: cover;
    padding: 20px 10px 0 !important;
    margin: 0 auto !important;
}

@media (min-width: 768px) and (max-width: 991px) {
    .topSells_top_sells__BwAWB .ais-Hits-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr !important;
     }
}
@media (min-width: 575px) and (max-width: 768px) {
    .topSells_top_sells__BwAWB .ais-Hits-list {
        display: grid;
        grid-template-columns: 1fr 1fr !important;
        gap: 10px !important;
        padding: 0 0 0 0 !important;
     }
}
@media (min-width: 321px) and (max-width: 575px) {
    .topSells_top_sells__BwAWB .ais-Hits-list {
        display: grid;
        grid-template-columns: 1fr 1fr !important;
        gap: 10px !important;
     }
     .topSells_top_sells__BwAWB .productCard_description__7ahxS {
        height: 34px !important;
        overflow: hidden;
        margin: 0 !important
     }
     .topSells_top_sells__BwAWB .ais-Hits-item {
        
     }
     .topSells_top_sells__BwAWB .ais-Hits-item .ant-card-cover {
        height: 170px !important;
        text-align: center !important;
    }
    .topSells_top_sells__BwAWB .ais-Hits-item .ant-card-cover img{
        width: 159px !important;   
        height: 124px !important;
        object-fit: cover;
        padding: 20px 10px 0 !important;
        margin: 0 auto !important;
    }
    .topSells_top_sells__BwAWB .productCard_price__86CNm  span{
        font-size: 14px !important;
    }
}

.topSells_top_sells__BwAWB .ant-row {
    min-height: 100px !important;
    height: 170px !important;
}
.topSells_top_sells__BwAWB .ant-col {
    min-height: 80px !important;
    height: 80px !important;
    margin: 0 5px !important;
}
@media (min-width: 768px) and (max-width: 991px) {
    .topSells_top_sells__BwAWB .ant-row {
        display: flex !important;
        
    }

}
@media (min-width: 321px) and (max-width: 575px) {
    .topSells_top_sells__BwAWB .ant-row {
        min-height: 100px !important;
        height: 150px !important;
        
    }
    .topSells_top_sells__BwAWB .ant-col {
        /* display: none !important; */
    }
    .topSells_top_sells__BwAWB .ant-col img{
        width: 50px !important;
        height: 50px !important;
    }
}


/* Footer */
.Home_footer____T7K {
  padding: 30px 0px 20px !important;  
}
.Home_footer____T7K a{
  display: block !important;
  flex-grow: 0 !important;
}
.Home_footer____T7K a:not(:last-child){
  margin-bottom: 8px !important;
}
.Home_footer____T7K .ant-row {
    height: 150px !important;
    min-height: 100px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.Home_footer____T7K .ant-col {
    height: 150px !important;
}
.Home_footer____T7K .ant-col:first-child {
    padding: 0 5px 0 5px!important;
}
.Home_footer____T7K .ant-col:nth-child(2) {
    padding: 0 5px 0 5px!important;
}
.Home_footer____T7K .ant-col:nth-child(3) {
    padding: 0 5px 0 0px!important;
    margin: 0px 0 0 0 !important;
}
.Home_footer____T7K .ant-col:nth-child(4) {
    padding: 0 5px 0 5px!important;
    margin: 0px 0 0 0 !important;
}

@media (min-width: 768px) and (max-width: 991px) {
    .Home_footer____T7K {
       
    }
    .Home_footer____T7K .ant-row {
       display: grid !important;
       grid-template-columns: 1fr 1fr 1fr 1fr!important;
       height: 300px !important;
    }
    .Home_footer____T7K .ant-col {
       max-width: 100% !important;
    }

 }
@media (min-width: 560px) and (max-width: 768px) {
    .Home_footer____T7K {
       /* padding-bottom: 20px !important; */
    }
    .Home_footer____T7K .ant-row {
       display: grid !important;
       grid-template-columns: 1fr 1fr 1fr !important;
       height: 300px !important;
    }
    .Home_footer____T7K .ant-col {
       max-width: 100% !important;
    }
    .Home_footer____T7K .roboto-medium {
        max-width: 250px !important;
        
    } 
 }
@media (min-width: 321px) and (max-width: 550px) {
    .Home_footer____T7K {
        /* padding: 20px 0 20px 0 !important; */
    }
    .Home_footer____T7K .ant-row {
        min-height: 32px !important;
        height: 32px !important;
        margin-top: 25px !important;
        margin-bottom: 25px !important;
    }
    .Home_footer____T7K .ant-col {
        height: 32px !important;
    }
    .Home_footer____T7K .roboto-medium {
        font-size: 14px !important;
        
    } 
 }
 
 .ais-Hits .ais-Hits-list {
    padding: 0 16px 0 !important;
 }
 @media (min-width: 321px) and (max-width: 550px) {
    .ais-Hits .ais-Hits-list {
        padding: 0 0 0 0 !important;
     }
 }
 
 
 /* Product Details */
 #product_details {
    
 }
 #product_details .ant-row{
    
 }
 
 
 @media (min-width: 991px) and (max-width: 1191px) {
    #product_details .ant-row{
        
    }
    #product_details .ant-col-6{
        display: flex !important;
        flex: 0 0 0 !important;
        max-width: 100% !important;
        
    }
 }